# Made Ary Widanthi (RMT-20)

In [11]:
#library yg digunakan
import numpy as np
import pandas as pd

In [12]:
#read file
df = pd.read_csv('NMC1-9.xlsx - Sheet1.csv')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

# Soal A

In [16]:
#membuat fungsi untuk menghitung hambatan
def hambatan(tegangan, kuat_arus):

    return tegangan/kuat_arus
print("hambatan =", hambatan(12,6))

hambatan = 2.0

In [17]:
#membuat fungsi untuk menghitung daya
def daya(tegangan, kuat_arus):

    return tegangan*kuat_arus
print("daya=", daya(4,5))

daya= 20

# soal B

In [47]:
#membuat kolom baru daya_before yang berisikan value yang belum di filter >=2.5
df['daya_before'] = df['V_m']*df['Current (A)']

In [42]:
df['hambatan_before'] = df['V_m']/df['Current (A)']

In [65]:
#list untuk menyimpan hasil sementara R/P
R_per_P = []


for (hambatan, daya) in zip(df['hambatan_before'], df['daya_before']):
    if hambatan >= 2.5:
        R_per_P.append(daya*hambatan)

    if daya < 2.5:
        R_per_P.append(daya*hambatan)
    else:
        False

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time(s)          90982 non-null  int64
 1   V_m              90982 non-null  float64
 2   Current (A)      90982 non-null  float64
 3   Cycle            90982 non-null  int64
 4   Cap              90982 non-null  float64
 5   daya_before      90982 non-null  float64
 6   hambatan_before  90982 non-null  float64
dtypes: float64(5), int64(2)
memory usage: 4.9 MB

In [68]:
df['R/P'] = R_per_P

ValueError: Length of values (90985) does not match length of index (90982)

In [70]:
df

,time(s),V_m,Current (A),Cycle,Cap,daya_before,hambatan_before
0,0,4.098,0.997,1,2.840817,4.085706,4.110331
1,1,4.096,0.998,1,2.840817,4.087808,4.104208
2,2,4.094,0.999,1,2.840817,4.089906,4.098098
3,3,4.093,0.998,1,2.840817,4.084814,4.101202
4,4,4.092,0.999,1,2.840817,4.087908,4.096096
...,...,...,...,...,...,...,...
90977,90977,2.506,1.002,9,2.770180,2.511012,2.500998
90978,90978,2.504,1.002,9,2.770180,2.509008,2.499002
90979,90979,2.502,1.002,9,2.770180,2.507004,2.497006
90980,90980,2.500,1.002,9,2.770180,2.505000,2.495010
90981,90981,2.497,1.002,9,2.770180,2.501994,2.492016

# soal C

In [74]:
df[
    (df["Current (A)"] == 1) &
    (df['Cycle'] == [0::2])
].groupby("Cap", sort=False).mean()

SyntaxError: invalid syntax (54060691.py, line 3)